<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <% if (typeof flash !=='undefined' && flash.length> 0) { %>
        <div class="flash-message">
            <%= flash %>
        </div>
        <% } %>
            <div id="registerContainer">
                <p> All Fields Are Required</p>
                <form id="registerForm" action="/account/register" method="post">
                    <div>
                        <label for="account_firstName">First Name:</label>
                        <input type="text" id="account_firstName" name="account_firstname" required>
                    </div>
                    <div>
                        <label for="account_lastName">Last Name:</label>
                        <input type="text" id="account_lastName" name="account_lastname" required>
                    </div>
                    <div>
                        <label for="account_email">Email Address:</label>
                        <input type="email" id="account_email" name="account_email" required>
                    </div>
                    <div>
                        <label for="account_assword">Password: Passwords need to be 12 characters, have 1 capital, 1 number,
                            and 1 special character</label>
                        <input type="password" id="account_password" name="account_password" required
                            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{12,}">
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
</body>

</html>